footer{
    border: 1px solid #AE7C78;
    background-color: #AE7C78;
}
footer ul{
    
    text-align: center;
}
footer li{
    display: inline-block;
    margin: 1% 5%;
    font-size: 16px;
    
    
}
footer a{
    color: white;
    font-family: 'Montserrat', sans-serif;
}